{% load staticfiles %}
<html>
<style>
    .add_post:link, .add_post:visited {
        background-color: #f44336;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .add_post:hover, .add_post:active {
        background-color: red;
    }

    .post_title {
       text-decoration: none; 
    }

    .post_title:hover {
        text-decoration: underline;
    }

        
</style>
    <head>
        <title>My blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a style="color: black; text-decoration: none;" href="/">My Blog</a></h1>
            {% if user.is_authenticated %}
                <div><a class="add_post" href="{% url 'post_new' %}" >Add post</a></div>
            {% endif %}
        </div>

        <div>
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>